{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="back1">
        <h1 class="text-primary"><a href="{% url 'blog:post_list' %}">Yusyu's  Blog</a></h1>
    </div>
{% endblock %}

{% block blog %}
    <script>hljs.initHighlightingOnLoad();</script>
    <style>
        blog{
            text-align: center;
        }
        .text-primary {
            font-family: 'Sacramento', cursive;
        }
        .ul1 {
            border: 2px skyblue dashed;
        }
        .stg2 {
            font-family: 'Vollkorn', serif;
        }
        .blog_block{
            margin: 20px 10px;
        }
        .table_font{
            font-family: 'Vollkorn', serif;
        }
        .more_btn {
            float: right;
            margin-right: 20px;
        }
        pre {
            white-space: pre-wrap;
        }
    </style>
{% endblock %}
