{% extends 'blog/index.html' %}
{% load static %}

{% block content %}
    <form action="" method="get" class="request_from">
        <input name="query" value="{{ request.GET.query }}" type="text">
        <button type="submit" class="btn btn-primary">SEARCH</button>
        {% if user.is_superuser %}
        <button class="btn btn-primary"><a href="{% url 'blog:post_create' %}">POST</a></button>
        {% endif %}
    </form></br>
    <table class="table">
        <thead>
            <tr>
                <th class="table_font" id="table-title">TITLE</th>
                <th class="table_font">CATEGORY</th>
                <th class="table_font">DATE</th>
                {% if user.is_superuser %}
                <th class="table_font super-td">UPDATE</th>
                <th class="super-td"></th>
                <th class="super-td"></th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="blog_tbody">
            {% for post in post_list reversed%}
                <tr>
                    <td class="post-title" id="table-title"><a href="{% url 'blog:post_detail' post.pk %}">{{post.title}}</a></td>
                    <td><a href="{% url 'blog:post_list'%}?query={{ post.category }}" rel="category tag">{{post.category}}</a></td>
                    <td>{{ post.date|date:"Y/m/d/D" }}</td>
                    {% if user.is_superuser %}
                    <td class="super-td">{{ post.redate|date:"Y/m/d/D" }}</td>
                    <td class="super-td"><a href="{% url 'blog:post_update' post.pk %}">Edit</a></td>
                    <td class="super-td"><a href="{% url 'blog:post_delete' post.pk %}">Delete</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <style>
        #table-title {
            width: 400px;
        }
        .btn a {
            text-decoration: none;
            color: white;
        }
        tbody {
            overflow-x: hidden;
            overflow-y: scroll;
            height: 500px;
        }
        @media screen and (max-width: 1000px) {
            .super-td { display: none; }
        }
        .post-title a {
            text-decoration: none;
        } 
        .table {
            font-size: 20px;
        }
        .blog_tbody td{
            padding: 8px;
        }
    </style>
{% endblock %}


