{% extends 'blog/index.html' %}
{% load static %}

{% block content %}
    <form action="" method="POST">
        <table class="table">
            <tr>
            <th class="table_font">TITLE</th>
            <td>{{ post.title }}</td>
            </tr>
            <tr>
            <th class="table_font">TEXT</th>
            <td>{{ post.text }}</td>
            </tr>
            <tr>
            <th class="table_font">DATE</th>
            <td>{{ post.date }}</td>
            </tr>
        </table>
        <p>こちらのデータを削除します。</p>
        <button type="submit">SEND</button>
        {% csrf_token %}
    </form>
{% endblock %}