{% extends 'blog/index.html' %}
{% load static %}

{% block content %}
    <form action="" method="get" class="request_from">
        <input name="query" value="{{ request.GET.query }}" type="text">
        <button type="submit" class="btn btn-primary">SEARCH</button>
        {% if user.is_superuser %}
        <button class="btn btn-primary"><a href="{% url 'blog:post_create' %}">POST</a></button>
        {% endif %}
    </form></br>
    <table class="table">
        <thead>
            <tr>
                <th class="table_font" id="table-title">TITLE</th>
                <th class="table_font">DATE</th>
                <th class="table_font">UPDATE</th>
                <th class="table_font">CATEGORY</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="blog_tbody">
            {% for post in post_list reversed%}
                <tr>
                    <td class="post-title" id="table-title"><a href="{% url 'blog:post_detail' post.pk %}">{{post.title}}</a></td>
                    <td>{{ post.date|date:"Y/m/d/D" }}</td>
                    <td>{{ post.redate|date:"Y/m/d/D" }}</td>
                    <td><a href="{% url 'blog:post_list'%}?query={{ post.category }}" rel="category tag">{{post.category}}</a></td>
                    <td class="super-td">
                        <!-- superuserでログインしている時にのみ表示 -->
                        {% if user.is_superuser %}
                        <!-- HTMLを アプリ名_モデル名_change にすると admin でそのまま編集できる -->
                        <a href="{% url 'blog:post_update' post.pk %}">Edit</a>
                        {% endif %}
                    </td>
                    <td class="super-td">
                        {% if user.is_superuser %}
                        <a href="{% url 'blog:post_delete' post.pk %}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <style>
        thead, tbody {
            display: block;
        }
        th, td {
            width: 150px;
        }
        #table-title {
            width: 400px;
        }
        .btn a {
            text-decoration: none;
            color: white;
        }
        tbody {
            overflow-x: hidden;
            overflow-y: scroll;
            height: 500px;
        }
        .super-td{
            text-align: right;
        }
        .post-title a {
            text-decoration: none;
        } 
        .table {
            font-size: 1.1vw;
        }
        .blog_tbody td{
            padding: 8px;
        }
    </style>
{% endblock %}


