{% extends 'memorize.html' %}
{% load static %}

{% block main %}
    <div class="back1">
        <h1 class="text-primary">Memorize: Diary</h1>
    </div>
{% endblock %}

{% block content %}

    <div class="blog">
        <div class="center">
            <div class="c2">
                <h2><b>2022年</b></h2>
                <div class="c3-2">
                    <div class="blog_block">
                        <h3><b> 月 日 曜日&lt; &#x1f324;&gt;</b></h3> 
                    </div>
                    <div class="blog_block">
                        <h3><b>5月24日火曜日&lt;晴れ&#x1f324;&gt;</b></h3> 
                        - 父親とかつ元へ<br/>
                        ロースカツ美味しい<br/>
                        研究がうまくいかないという話をしたら説教を受けて悲しくなってしまった<br/>
                        - 大学へ<br/>
                        今日はゼミでRFIDの説明を受けた<br/>
                        DENSE SENSING(高密度センシング)とは、RFIDを用いて情報を収集するシステム<br/>
                        研究が詰み始めてきたので、そろそろ知識の整理をした方がいいかもしれない<br/>
                        知識整理用のページを作りたい<br/>
                        このdjangoのサイトの整理もすべきかもしれない<br/>
                    </div>
                </div>
                <h2><b>2021年</b></h2>
                <div class="c3-2">
                    <div class="blog_block">
                        <h3><b>9月21日火曜日&lt;晴れ&#x1f324;&gt;</b></h3> 
                        book offに行くぞ！！<br/>
                        明日は旅行なので準備もするぞ!<br/>
                    </div>
                    <div class="blog_block">
                        <h3><b>9月20日月曜日&lt;晴れ&#x1f324;&gt;</b></h3>
                        対話制御システム用のテストクライアントの作成<br/>
                    </div>
                    <div class="blog_block">
                        <h3><b>9月19日日曜日&lt;晴れ&#x1f324;&gt;</b></h3> 
                        台風一過というやつか<br/>
                        ビールをこぼしたキーボードあれからずっと反応が悪い<br/>
                    </div>
                    <div class="blog_block">
                        <h3><b>9月18日土曜日&lt;雨&#x1f324;&gt;</b></h3> 
                        バイト10時~16時<br/>
                        ボウリングの疲れが抜けない<br/>
                    </div>
                    <div class="blog_block">
                        <h3><b>9月17日金曜日&lt;曇りのち雨&#x1f324;&gt;</b></h3>
                        今日は雨が降るらしい<br/>
                        ラーメン食べてボウリングに行ってきます!<br/>
                        <img src=" {% static 'assets/img/2019春FE.png'%} " width="40%" height="40%" border="0" style="margin:20px 20px 20px 20px">
                        <img src=" {% static 'assets/img/ゼロから作るDL2.png'%} " width="40%" height="40%" border="0" style="margin:20px 20px 20px 20px">
                        <img src=" {% static 'assets/img/TOEIC読解.png'%} " width="40%" height="40%" border="0" style="margin:20px 20px 20px 20px">
                    </div>
                    <div class="blog_block">
                        <h3><b>9月16日木曜日&lt;晴れ&#x1f324;&gt;</b></h3> 
                        明日は雨らしい<br/>
                        FEの勉強をした<br/>
                        Deep Learningの勉強をした<br/>
                        <img src=" {% static 'assets/img/2019春FE.png'%} " width="40%" height="40%" border="0" style="margin:20px 20px 20px 20px">
                    </div>
                    <div class="blog_block">
                        <h3><b>9月15日水曜日&lt;晴れ&#x1f324;&gt;</b></h3> 
                        統計検定2級に合格<br/>
                        FEの申し込み<br/>
                        toeicもコツコツやりたい<br/>
                        曜日で分けて色々やるのは苦手だから気分に分けて英語も勉強するという形<br/>
                    </div>
                    <div class="blog_block">
                        <h3><b>9月14日火曜日&lt; &#x1f324;&gt;</b></h3> 
                        中間発表の予行<br/>
                        なんか左肩がずっと痛い<br/>
                        頭痛が止まらない<br/>
                    </div>
                    <div class="blog_block">
                        <h3><b>9月10日金曜日&lt; &#x1f324;&gt;</b></h3> 
                        バイト10時~<br/>
                        あー統計学やらなきゃだし中間発表の準備もしなきゃだし大変だ<br/>
                        もう何からやればいいのかがわからなくなってしまった<br/>
                        どうやってモチベーションを持たせればいいのか<br/>
                        最近は好きな本ばかり読んでしまって研究まで手がいかない<br/>
                        ランニング4km<br/>
                    </div>
                    <div class="blog_block">
                        <h3><b>9月9日木曜日&lt;雨&#x1f327;&gt;</b></h3> 
                        大学院に無事合格していました。<br/>
                        ここに画像<br/>
                        朝食: お茶漬け<br/>
                        最近ずっと雨が降っていてなかなか洗濯物が干せない<br/>
                        やらなくてはいけないことが溜まっていてblogの更新を後回しにしてしまっていた<br/>
                    </div>
                    <div class="blog_block">
                        <h3><b>9月6日月曜日&lt;雨&#x1f327;&gt;</b></h3>
                        今日は何もない日<br/>
                        逆に何をすればいいかが分からない<br/>
                        一応統計検定の料金は払う<br/>
                        特に何もやる気が出ないのでその状態について<br/>
                        統計検定の勉強はχ二乗検定の部分まで進んだ<br/>
                        あとやるべき単元は3つくらいなのでそれが終わり次第過去問に取り組む必要がある<br/>
                        しかし、χ二乗検定が思っていたよりも難しく、理解に及ばない点がいくつかある<br/>
                        この部分を飛ばして、次の単元に進むべきか悩み中<br/>
                        というのと、この状態で試験を受けても合格できるのかが不安という点<br/>
                        でもやるしかない、というのは分かっている<br/>
                        統計検定についてはこれぐらいで、あとは研究について<br/>
                        自分ができそうな研究内容は二つある<br/>
                        一つ目が対話制御システムの判定部分。いや、これは研究にならなそうなので後回しにしよう<br/>
                        二つ目が認知症患者の文体的特徴を取り出し、それによって判定を行うこと<br/>
                        判定を行う部分の制御の部分は既に学習済みなので、あとはその文体的特徴を取り出すことのみ<br/>
                        そう考えるとある程度研究は進んでいるのかもしれない<br/>
                        実は他にも制御の部分でLSTMやBERTを考えていたが、それは後でもいいか<br/>
                        とりあえず、文体的特徴を取り出すことが先決<br/>
                        文体的特徴を取り出す方法は二つある。一つ目がχ二乗検定。二つ目がtf-idf<br/>
                        なのでtf-idfをやればいいのだが...なぜかやる気が出ない<br/>
                        やり方は分かっているので、別に難しいとかではなく、面倒なのかもしれない<br/>
                        なぜ面倒に感じるのかが自分でも分からない<br/>
                        雨が降っているせいかもしれない<br/>
                    </div>
                    <div class="blog_block">
                        <h3><b>9月5日日曜日&lt;雨のち晴れ&#x1f324;&gt;</b></h3>
                        バイト10時~16時<br/>
                        三連勤終わり<br/>
                        バイト結構疲れた<br/>
                        統計の勉強が滞ってきている。試験日が15日なのであと10日しかない<br/>
                        早く過去問に取り掛からなければ<br/>
                    </div>
                    <div class="blog_block">
                        <h3><b>9月4日土曜日&lt;小雨&#x1f327;&gt;</b></h3> 
                        やること<br/>
                        ・履歴書を書く<br/>
                        ・統計検定の料金払い込み(月曜)(厳守)<br/>
                        バイト10時~16時<br/>
                        統計の勉強
                    </div>
                    <div class="blog_block">
                        <h3><b>9月3日金曜日&lt;雨&#x1f327;&gt;</b></h3> 
                        やること<br/>
                        ・履歴書を書く<br/>
                        ・統計検定の料金払い込み(月曜)(厳守)<br/>
                        バイト10時~16時<br/>
                        カラオケを20時~24時<br/>
                    </div>
                    <div class="blog_block">
                        <h3><b>9月2日木曜日&lt;曇り&#x1f324;&gt;</b></h3> 
                        t分布まで学習<br/>
                        全て見終わったら過去問を解き始める<br/>
                        分からない部分が出てきたらその都度参考書やネットで調べる<br/>
                    </div>
                    <div class="blog_block">
                        <h3><b>9月1日水曜日&lt;小雨&#x1f327;&gt;</b></h3> 
                        9月が始まった<br/>
                        どんどん統計学の勉強をしていく<br/>
                        ダーツの疲労が取れない<br/>
                        朝食: 鮭入りお茶漬け<br/>
                        進捗報告<br/>
                        進捗報告用スライドと輪講用スライドを用いて発表<br/>
                        対話システムの設計案について会議<br/>
                        夕飯: からあげ弁当<br/>
                    </div>
                    <div class="blog_block">
                        <h3><b>8月31日火曜日&lt;曇りのち雨&#x1f325;&gt;</b></h3> 
                        今日で八月も終わり<br/>
                        お昼にカラオケ行って、帰りに鳥貴族へ行く<br/>
                        ダーツもやって疲労困憊<br/>
                    </div>
                    <div class="blog_block">
                        <h3><b>8月30日月曜日&lt;晴れ&#x1f324;&gt;</b></h3> 
                        もうすぐで8月も終わりか...<br/>
                        今日は和訳した論文を読み込んで、学生証を取りに行き、研究室へ行く<br/>
                        そして、新しい論文を読む前に、χ二乗検定を試してみる<br/>
                        χ二乗検定は思っていたよりも難しくてデモプログラムを動かすだけで精一杯だった<br/>
                        明日は統計の基礎から勉強をし直していきたい。<br/>
                        昼飯: ぶっ豚の油そば大盛<br/>
                        多すぎて数時間寝込んだ<br/>
                        明日はトリキ<br/>
                    </div>
                    <div class="blog_block">
                        <h3><b>8月29日日曜日&lt;曇り&#x1f325;&gt;</b></h3> 
                        バイト10時~17時<br/>
                        論文和訳<br/>
                        バイトめちゃめちゃ疲れた<br/>
                        今日は昨日より混んではいなかったけどやはり連日は疲れが溜まる<br/>
                        寝て休もうとしたが一睡もできなかった<br/>
                    </div>
                    <div class="blog_block">
                        <h3><b>8月28日土曜日&lt;晴れ&#x1f324;&gt;</b></h3> 
                        バイト10時~17時<br/>
                        想像以上に疲れた日<br/>
                        月末だから混んでいたのかもしれない<br/>
                    </div>
                    <div class="blog_block">
                        <h3><b>8月27日金曜日&lt;晴れ&#x1f324;&gt;</b></h3> 
                        17時から皮膚科<br/>
                        ランダムフォレストを使いこなした<br/>
                        グラフにできたら面白かったのだがやり方がわからないので今回はスルー<br/>
                        洗剤、洗顔、乳液化粧水、手洗い洗剤も買えた<br/>
                    </div>
                    <div class="blog_block">
                        <h3><b>8月26日木曜日&lt;晴れ&#x1f324;&gt;</b></h3> 
                            気分がいいかもしれない？<br/>
                            やっぱ晴れてると気持ちがいい<br/>
                            皮膚科の予約<br/>
                            祝!大学院合格〜〜〜〜!!!<br/>
                    </div>
                    <div class="blog_block">
                        <h3><b>8月25日水曜日&lt;曇り&#x1f325;&gt;</b></h3>
                            ちょっと気分がいい日<br/>
                            お昼ご飯: 1/2日分の野菜カレー<br/>
                            美味しいかよくわからない味だった<br/>
                            夕飯: 食神の麻婆豆腐、卵入り<br/>

                    </div>
                    <div class="blog_block">
                        <h3><b>8月24日火曜日&lt;曇り&#x1f325;&gt;</b></h3>
                            今日は鳥貴族に行く日！<br/>
                            ちょっと眠いけど研究室に行かなければ<br/>
                            研究者倫理の提出物を出そうとしたら8/24は事務室を閉室するらしくてダメだった。<br/>
                            SWRLの扱い方を理解<br/>
                            鳥貴族へ行った！やっぱりチーズつくねが美味しすぎる。新メニューも美味しいし、やっぱ最高<br/>
                            はしごして串カツ田中にも行った。合計7000円...<br/>

                    </div>
                    <div class="blog_block">
                        <h3><b>8月23日月曜日&lt;曇り&#x1f325;&gt;</b></h3>
                            バイトの疲れが取れない<br/>
                            とりあえず、朝ごはんを食べてから色々考えてみる。<br/>
                            近所で落雷と雨があるらしい。洗濯物は干せない<br/>
                            朝ごはん: 卵かけご飯とキムチ<br/>
                            文体的特徴から年齢推定を行うNN層の作成。データが少なすぎて良い結果が得られない。<br/>
                            夕飯: 中華丼とお吸い物<br/>

                    </div>
                    <div class="blog_block">
                        <h3><b>8月22日日曜日&lt;曇り&#x1f325;&gt;</b></h3>
                            今日は音楽が沁みる日<br/>
                            10時からバイト<br/>
                            賄い: 鶏肉のカレー(高いらしい)<br/>
                            お客さんが多すぎて疲れた。肩も首も痛いのでずっと寝てたい気分<br/>
                            なろうサイトの累計ランキング上位300タイトルに含まれる単語の利用頻度をグラフ化<br/>
                            <img src=" {% static 'assets/img/narou.png'%} " width="50%" height="50%" border="0" style="margin:20px 20px 20px 20px"><br/>
                            タイトルを3Fマルコフ連鎖<br/>
                            <ul>
                                <li>"俺の前世の知識で底辺職テイマーが上級職になったが、幼馴染の皇女からめちゃくちゃ溺愛される上に、実は持っていない報われなかった村人A、貴族に拾われてSランクになりました。"</li>
                                <li>"マジカル★エクスプローラーエロゲの友人キャラに転生したらドラゴンの卵だった。"</li>
                                <li>"成長チートでなんでもできるようになったが、幼馴染の皇女からめちゃくちゃ溺愛されるうえにスローライフを送りたい悪役令嬢、ブラコンにジョブチェンジします。"</li>
                            </ul>

                    </div>
                    <div class="blog_block">
                        <h3><b>8月21日土曜日&lt;晴れ後曇り&#x1f325;&gt;</b></h3>
                            今日は10時からバイト<br/>
                            賄い: 特製オムライス<br/>
                            お客さんが思っていたより少なくて楽だな〜と思っていたら実は久しぶりに売り上げが上がった日だったらしい<br/>
                            宮田商店の唐揚げが美味しいと店長にオススメした<br/>
                            バイト先で作った明太おにぎりを食べた<br/>
                            コロナ関係のグラフを作成<br/>
                            <img src=" {% static 'assets/img/corona4.png'%} " width="70%" height="70%" border="0" style="margin:20px 20px 20px 20px"><br/>
                            atcoderをABCまで解いた。22時にはCまで解き終わっていたのでDまでできたが継続できるようにDで止めた。力を込めすぎると続かない性分。明日はDまで解いてみる。<br/>

                    </div>
                    <div class="blog_block">
                        <h3><b>8月20日金曜日&lt;晴れ&#x1f324;&gt;</b></h3> 
                            朝ごはん: 納豆卵かけご飯, キムチ<br/>
                            夕飯: ボロネーゼにナスを追加<br/>
                            <br/>
                            ニキビが増えてきたのでKIEHLSのクリームを多めに塗ってみた<br/>
                            トルネコの大冒険3は20Fのモンスターハウスで安定のタコ殴りで終わり。メイジモモンジャが18Fで仲間になるが小部屋に溜まってたモンスターにタコ殴りされこの世を去る。いつも通りのボコボコ。<br/>
                            Blogを書き始める。とりあえず、今日から書き続ける。<br/>
                            昔勉強したNN層を使って文体的特徴を学習。損失減少過程をグラフ化した<br/>
                            <img src=" {% static 'assets/img/sonsitu.png'%} " width="40%" height="40%" border="0" style="margin:20px 20px 20px 20px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        body {
            margin: 40px 10px;
            padding: 0;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        }
        blog{
            text-align: center;
        }
        .ul1 {
            border: 2px skyblue dashed;
        }
        ul {
            margin-bottom: 30px;
        }
        .stg2 {
            font-family: 'Vollkorn', serif;
        }
        #calendar {
            max-width: 1100px;
            margin: 0 auto;
        }
        .blog_block{
            margin: 20px 10px;
        }
    </style>
{% endblock %}


