{% extends 'memorize.html' %}
{% load static %}

{% block main %}
    <div class="back1">
        <h1 class="text-primary">Memorize: News</h1>
    </div>
{% endblock %}

{% block content %}
</body>
    <div class="center">
        <div class="c2">
            <div class="c3-2">
                <section>
                    <h2 class="stg">Livedoor Top news</h2>
                    <ul class="vertical-row-ul">
                        {% for item in livedoor %}
                        <li>
                            <a href="{{item.href}}" target="_blank" rel="noopener noreferrer">{{item.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
                <section>
                    <h2 class="stg">Yahoo Top news</h2>
                    <ul class="vertical-row-ul">
                        {% for item in yahoo %}
                        <li>
                            <a href="{{item.href}}" target="_blank" rel="noopener noreferrer">{{item.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
                <section>
                    <h2 class="stg">Covid-19 Top news</h2>
                    <ul class="vertical-row-ul">
                        {% for item in web %}
                        <li>
                            <a href="{{item.href}}" target="_blank" rel="noopener noreferrer">{{item.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </div>
    </div>
    <style>
        img {
            border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
            width:  180px;       /* ※縦横を同値に */
            height: 180px;       /* ※縦横を同値に */
            border: 3px solid skyblue;
        }
        .ul1 {
            border: 2px skyblue dashed;
        }
        .vertical-row-ul {
            margin-bottom: 30px;
        }
        
    </style>
{% endblock %}