{% extends 'memorize.html' %}
{% load static %}

{% block main %}
    <div class="back1">
        <h1 class="text-primary">Memorize: Practice</h1>
    </div>
{% endblock %}

{% block content %}
    <body>
        <div class="menu_toggle">
            <input type="checkbox" id="drawer">
            <label for="drawer" class="open"><span></span></label>
            <label for="drawer" class="close"></label>
            <nav class="menu">
                <h2>menu</h2>
                <ul>
                    <li><a href="#css-animation">動くCSSのためのメモ。</a></li>
                    <li><a href="#about-svg">SVGでやることのまとめ。</a></li>
                    <li><a href="#css-layout2">段組みのCSS。</a></li>
                    <li><a href="#scroll-parapara">スクロールパラパラ。</a></li>
                    <li><a href="#ruby-elements">ふりがなを振る。</a></li>
                </ul>
            </nav>
        </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </body>
{% endblock %}


