{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'assets/css/portfolio_main.css' %}" rel='stylesheet'/>
{% endblock %}

{% block main %}
    <div class="back1">
        <h1 class="text-primary">Portfolio</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="center">
        <div style="margin: 20px 0px;">
            <article>
                <!-- 自己紹介 -->
                <section>
                    <div class="intro_block">
                        <button class="intro_image" id="speak-btn" style="outline: none;">
                            <img src=" {% static 'assets/img/cat.png'%} ">
                        </button>
                    </div>
                    <div class="intro_block">
                        <div class="stg">
                            <h2>Yusyu</h2 width="100%" height="100%">
                        </div>
                        <div class="main-intro" style="background: #f3fbff;">
                            <ul class="vertical-row-ul" style="margin-top: 30px;margin-bottom: 30px;">
                                <li>名前: 河村優周</li>
                                <li>主な活動: 対話システムやWebサイトなどの開発</br>他、言語処理など</li>
                                <li>好きな食べ物: ラーメン</li>
                                <li>趣味: 読書, ゲーム, 音楽を聴くこと</li>
                                <li>資格: 統計2級, FE</li>
                            </ul>
                        </div>
                    </div>
                    <h1 class="hidden_intro">
                        YusyuFolioは管理者ゆしゅによって作られたブログや成果物などをまとめているサイトです。
                        また、ポートフォリオサイトとしても機能しており、同志がいれば仲良くなれたらと思っています。
                        よろしくお願いします。
                    </h1>
                </section>
            </article>
        </div>
        
        <!-- カテゴリー一覧 -->
        <div class="stg1"><h2 class="text-primary" id="text-intro">〜Introduction〜<h2></div>
        <div class="stg"><h2 class="text-heading">Products</h2></div>
            <ul class="vertical-row-ul ul-products" style="margin-bottom: 30px;">
                <li><a href="{% url 'memorize:dialog' %}">Dialog System</a></li>
                <li><a href="#">Portfolioサイト</a></li>
            </ul>
        </p>
        <div class="stg"><h2 class="text-heading">Accounts</h2></div>
            <ul class="vertical-row-ul ul-accounts" style="margin-bottom: 30px;">
                <li><a href="https://qiita.com/oral_anime_love"  target="_blank" rel="noopener noreferrer">Qiiita</a></li>
                <li><a href="https://github.com/k-masahiro116"  target="_blank" rel="noopener noreferrer">Github</a></li>
                <li><a href="https://atcoder.jp/users/masahiro116"  target="_blank" rel="noopener noreferrer">AtCoder</a></li>
            </ul>
        </p>
        <div class="stg"><h2 class="text-heading">Favorite books</h2></div>
            <ul class="vertical-row-ul-ul ul-favorite-books" style="margin-bottom: 30px;">
                <li>Pythonで動かして学ぶ自然言語処理入門</li>
                <li>ジェノサイド</li>
                <li>
                    <details>
                        <summary>
                            なろう小説
                        </summary>
                        <div class="summary-favorite-books">読みたい</div>
                        <ul class="vertical-row-ul ul-favorite-books accordion-books" style="margin-bottom: 30px;">
                            <li>レベルダウンの罠から始まるアラサー男の万能生活</li>
                            <li>黒猫ニャンゴの冒険 ～レア属性を引き当てたので、気ままな冒険者を目指します～</li>
                            <li>シャングリラ・フロンティア〜クソゲーハンター、神ゲーに挑まんとす〜</li>
                            <li>TS衛生兵さんの成り上がり</li>
                        </ul>
                        読了
                            <ul class="vertical-row-ul ul-favorite-books" style="margin-bottom: 30px;">
                                <li>【ストック200話超】 行き着く先は勇者か魔王か　――元・廃プレイヤーの営業マンが征く 異世界攻略記――</li>
                                <li>弱小領地の生存戦略！　～俺の領地が何度繰り返しても滅亡するんだけど。これ、どうしたら助かりますか？～</li>
                                <li>《背教者》と認定され、実家を追放された貴族の少年は辺境の地で、スキル《聖王》の使い方に気づき、成り上がる。</li>
                                <li>転生貴族の異世界冒険録～自重を知らない神々の使徒～</li>
                                <li>【書籍化＆コミカライズ】創成魔法の再現者　～『魔法が使えない』と実家を追放された天才少年、魔女の弟子となり正しい方法で全ての魔法を極めます。貴方の魔法は、こうやって使うんですよ？～</li>
                                <li>五年間働いていた治療師ギルドを不当解雇された“最弱”な俺。生きるために超有能スキルで‟最強”を目指します</li>
                                <li>蜘蛛ですが、なにか？</li>
                                <li>転生したらスライムだった件</li>
                                <li>無職転生　- 異世界行ったら本気だす -</li>
                                <li>最強出涸らし皇子の暗躍帝位争い～帝位に興味ないですが、死ぬのは嫌なので弟を皇帝にしようと思います～</li>
                                <li>限界超えの天賦《スキル》は、転生者にしか扱えない　ー　オーバーリミット・スキルホルダー</li>
                                <li>特級探索師への覚醒　～蜥蜴の尻尾切りに遭った青年は、地獄の王と成り無双する～</li>
                                <li>世界最速のレベルアップ　～無能スキル【ダンジョン内転移】が覚醒した結果、俺だけダンジョンのルールに縛られず最強になった～</li>
                                <li>ハズレ枠の【状態異常スキル】で最強になった俺がすべてを蹂躙するまで</li>
                                <li>ヘルモード　～やり込み好きのゲーマーは廃設定の異世界で無双する～</li>
                                <li>岩壁のルォ</li>
                            </ul>
                    </details>
                </li>
            </ul>
        </p>
        <div class="stg"><h2 class="text-heading">Favorite games</h2></div>
            <ul class="vertical-row-ul ul-favorite-games" style="margin-bottom: 30px;">
                <li>トルネコの大冒険3</li>
                <ul>
                <li>異世界の迷宮 最高到達階 51階</li>
                <li>異世界の迷宮 価格表</li>
                </ul>
                <li>ファイナルファンタジー・クリスタルクロニクル リング・オブ・フェイト</li>
                <li>将棋ウォーズ</li>
                <li>モンスターハンター ライズ・サンブレイク</li>
                <li>ポケットモンスター アルセウス</li>
                <li>遊び大全</li>
                <li>FE風花雪月</li>
                <li>スプラ3</li>
            </ul>
        </div></p>
        <div class="stg"><h2 class="text-heading">Favorite music</h2></div>
            <ul class="accordion-area">
                <li>
                    <section>
                        <h3 class="accordion-title">くじら</h3>
                        <div class="vertical-row-ul ul-favorite-music accordion-box">
                            <p>ライブに行った回数は2回。どちらもワンマンライブ。
                            くじらさんを知ったきっかけは金木犀(feat. Ado)で、曲調が好きすぎてそこからのめり込んでいった。</p>
                            <p>yamaさんに提供している曲が最もヒットしているが、個人的にはセルフカバーが一番好き。
                            提供曲はいくつかあるが、その中でも一番好きなのが透明な黒と鉄分のある赤(feat. にしな)。</p>
                            <p>「くじら」という名前は、キタニタツヤさんが出したアルバム「彼は天井から見ている」に収録された鯨と水星 (feat. 初音ミク)から取っている。
                            本人曰く、キタニタツヤさんの楽曲が大好きで、その楽曲にいつか追いつけるような楽曲を作れるようになりたいと考え、名前を拝借したのだそう。
                            また、自分で考えると凝った名前になりがちなため、そちらを選んだとか。</p>
                            <p>くじらさんは"生活フェチ"であることを公言しており、生活に関連した歌を今後も作っていく予定であることを公式youtubeチャンネルにて発言している。</p>
                            <p>以下、オススメの楽曲</p>
                            <ul>
                                <li>抱きしめたいほど美しい日々に</li>
                                <li>悪者</li>
                                <li>呼吸</li>
                                <li>金木犀</li>
                                <li>透明な黒と鉄分のある赤</li>
                                <li>狂えない僕らは</li>
                                <li>夜桜</li>
                                <li>Dance in the milk</li>
                                <li>エンドロール</li>
                                <li>東京</li>
                                <li>生活を愛せるようになるまで</li>
                                <li>薄青とキッチン</li>
                                <li>愛など</li>
                                <li>四月になること</li>
                                <li>いのちのせんたく</li>
                                <li>ジオラマの中で</li>
                                <li>キャラメル</li>
                                <li>うそだらけ</li>
                                <li>色彩</li>
                                <li>ひかりをためる</li>
                                <li>夏</li>
                                <li>夕餉</li>
                                <li>hollows...</li>
                                <li>続・生活</li>
                            </ul>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <h3 class="accordion-title">はるまきごはん</h3>
                        <div class="vertical-row-ul ul-favorite-music accordion-box">
                            <p>楽しかった思い出、悲しい思い出、人それぞれの感情を表に出す物語をテーマにした楽曲を提供するはるまきごはんさん。</p>
                            <p>一冊の本を読んだかのような満足感、焦燥感を感じられます。</p>
                            <ul>
                                <li>ゼロトーキング</li>
                                <li>コバルトメモリーズ</li>
                                <li>八月のレイニー</li>
                                <li>彗星になれたなら</li>
                            </ul>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <h3 class="accordion-title">tayori(isui)</h3>
                        <div class="vertical-row-ul ul-favorite-music accordion-box">
                            <p>tayoriさんを知ったきっかけは星になるという楽曲。理由は分からないが、どこかで聞いたことあるような楽曲ばかりで、とても耳に残ったことから聴くようになった。</p>
                            <p>また、isuiさんの声は透明感のある高音で心地よく響き、高揚感を与え、元気をもらえる。現実に疲れたときにぴったりな楽曲です。</p>
                            <ul>
                                <li>星になる</li>
                                <li>w/o U</li>
                                <li>アナログロマンス</li>
                                <li>ときのこえ</li>
                                <li>君とコーヒー</li>
                                <li>春を待つ</li>
                                <li>風のたより</li>
                                <li>白昼夢</li>
                                <li>掻き消して、クアルテット</li>
                                <li>雨のロンド</li>
                            </ul>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <h3 class="accordion-title">Vaundy</h3>
                        <div class="vertical-row-ul ul-favorite-music accordion-box">
                            <p>ライブは一度だけ参加した。武道館のワンマンライブ。</p>
                            <p>昭和や平成の耳馴染みの良さと令和の刺激的さを同時に味わえます</p>
                            <ul>
                                <li>瞳惚れ</li>
                                <li>灯火</li>
                                <li>恋風邪にのせて</li>
                                <li>そんなbitterな話</li>
                                <li>裸の勇者</li>
                                <li>Tokimeki</li>
                                <li>花占い</li>
                                <li>泣き地蔵</li>
                                <li>怪獣の花唄</li>
                                <li>おもかげ</li>
                            </ul>
                        </div>
                    </section>
                </li>
            </ul>
        </div></p>
        <style>
            .accordion-area{
                list-style: none;
                max-width: 900px;
                margin:0 auto;
            }
            .accordion-area li{
                margin: 5px 0;
                &:hover {
                    position: relative;
                    bottom: 2px;
                    right: 2px;
                }
            }
            .accordion-area section {
                border: 1px solid #ccc;
            }
            .accordion-title {
                position: relative;
                cursor: pointer;
                font-size:1rem;
                font-weight: normal;
                padding: 15px 5px 5px 50px;
                transition: all .5s ease;
            }
            .accordion-title::before,
            .accordion-title::after{
                position: absolute;
                content:'';
                width: 15px;
                height: 2px;
                background-color: #333;
            }
            .accordion-title::before{
                top:55%;
                left: 15px;
                transform: rotate(0deg);
            }
            .accordion-title::after{    
                top:55%;
                left: 15px;
                transform: rotate(90deg);
            }
            .accordion-title.close::before{
                transform: rotate(45deg);
            }
            .accordion-title.close::after{
                transform: rotate(-45deg);
            }
            .accordion-box {
                display: none;
                background: #f3f3f3;
                margin:0 2% 2% 2%;
                padding: 1%;
            }
            .hidden_intro {
                display: none;
            }
        </style>
        <script>
            $('.accordion-title').on('click', function() {
                $(".accordion-box").slideUp(500);
                var findElm = $(this).next(".accordion-box");
                if($(this).hasClass('close')){
                    $(this).removeClass('close');
                }else{
                    $('.close').removeClass('close');
                    $(findElm).slideToggle();	
                    $(this).addClass('close');				
                }
            });
        </script>
{% endblock %}
