{% extends 'base.html' %}
{% load static %}

{% block memorize %}
    <nav class="crumbs">
        <ol>
            <li class="crumb"><a class="nav-item nav-link active" href="{% url 'memorize:test' %}">Knowledge</a></li>
            <li class="crumb"><a class="nav-item nav-link active" href="{% url 'memorize:news' %}">News</a></li>
            <li class="crumb"><a class="nav-item nav-link active" href="{% url 'memorize:corona' %}">Corona</a></li>
            <li class="crumb"><a class="nav-item nav-link active" href="{% url 'memorize:youtube' %}">Youtube</a></li>
            <li class="crumb"><a class="nav-item nav-link active" href="{% url 'memorize:practice' %}">Practice</a></li>
        </ol>
    </nav>
    

    <style>
        .ul1 {
            border: 2px skyblue dashed;
        }
        .c1 {
            width: 200px;
            border: 1px solid #000;
        }
        .c3-2 {
            margin-top: 40px;
        }
        .c5 {
            margin: 40px 40px 40px 40px; 
        }
        .c6 {
            margin-top: 20px;
            margin-left: 50px;
            margin-right: 20px;
        }
    </style>
{% endblock %}


