{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="back1">
        <h1 class="text-primary">Cognitive function evaluation</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="center">
        <div class="c4">
            <article>
                <section>
                    <h3>認知機能評価システム</h3>
                    <p>Sentencesに評価したい文書を入力し、下のボタンを押すと認知機能評価を行ってくれます。</p>
                    <form method="post" action="">
                        {% csrf_token %}
                        <center>
                            <table>{{ form.as_table}}</table>
                        </center>
                        <input type="submit" value="&#xf002">
                    </form>
                    <div class="c6">
                        <div class="add_index">認知機能評価結果は...{{add_index}}</div>
                    </div>
                </section>
            </article>
        </div>
    </div>
    <style>
        body {
            margin: 40px 10px;
            padding: 0;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        }
        img {
            border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
            width:  180px;       /* ※縦横を同値に */
            height: 180px;       /* ※縦横を同値に */
            border: 3px solid skyblue;
        }
        #calendar {
            max-width: 1100px;
            margin: 0 auto;
        }
        textarea {
            width: 500px;
            height: 25em;
        }
    </style>
{% endblock %}


