/* :::::: toggle button :::::: */
#drawer {
    display: none;
}
#label {
    cursor: pointer;
    position: fixed;
    margin-right: 10px;
}
.open {
    z-index: 10000000;
    top: 8px;
    right: 10px;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background: #86c0de;
    transition: background .6s, transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.open::before,
.open::after {
    content: "";
}
.open span,
.open::before,
.open::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid white;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.open::before {
    transform: translateY(-8px);
}
.open::after {
    transform: translateY(8px);
}
.close {
    z-index: 1;
    inset: 0;
    pointer-events: none;
    transition: background .6s;
}
#drawer:checked + .open {
    background: #dc6688;
    transform: translateX(-280px);
}
#drawer:checked + .open span {
    transform: scaleX(0);
}
#drawer:checked + .open::before {
    transform: rotate(135deg) scaleX(1.2);
}
#drawer:checked + .open::after {
    transform: rotate(-135deg) scaleX(1.2);
}
#drawer:checked ~ .close {
    pointer-events: auto;
    background: rgba(0,0,0,.3);
}

/* :::::: drawer menu :::::: */
.menu {
    z-index: 1000000;
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0,0,0,.6);
    transform: translateX(100%);
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu h2 {
    color: white;
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 400;
    letter-spacing: .1em;
    text-align: center;
}
.menu ul {
    margin: 0;
    padding: 0;
}
.menu li {
    line-height: 1.4;
}
.menu li:not(:first-child) {
    border-top: 1px solid rgba(255,255,255,.6);
}
.menu a {
    display: block;
    padding: 1em 2em;
    color: white;
    text-decoration: inherit;
    transition: background .6s;
}
.menu a:hover {
    background: black;
}
#drawer:checked ~ .menu {
    transform: none;
}