button {
    border: none;
    background: transparent;
}
button img {
    display: block;
}
#text-intro {
    color: #6cb4e4;
    text-align: center;
    padding: 0.25em;
    border-top: solid 2px #6cb4e4;
    border-bottom: solid 2px #6cb4e4;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background-position: 0 50%;
    background-size: 200% auto;
    transition: background-position 1s ease-in-out;
}
#text-intro:hover {
    text-decoration: none;
    background-position: 100% 50%;
}
.text-heading{
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 0.2em;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 4px,#e9f4ff 4px, #e9f4ff 7px);
    border-radius: 7px;
    background-position: 0 50%;
    background-size: 200% auto;
    transition: background-position 1s ease-in-out;
}
.text-heading:hover {
    text-decoration: none;
    background-position: 100% 50%;
}
.text-heading:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 2px;
    border: 15px solid transparent;
    border-top: 15px solid #f0f8ff;
    width: 0;
    height: 0;
}
.intro_block {
    float: left;
}
.intro_image img {
    border-radius: 50%; 
    width: 60%; 
    height: 60%; 
    border: 3px solid skyblue;
    cursor: pointer;
    transition-duration: 0.5s;
}
.intro_image img:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    transform: translateY(-10px);
    transition-duration: 0.5s;
}
.main-intro {
    max-height: 300px;
    font-size: 1rem;
    padding: 0.5em 1em;
    color: #474747;
    background: whitesmoke;
    border-left: double 7px #4ec4d3;
    border-right: double 7px #4ec4d3;
}
.vertical-row-ul li {
    &:hover {
        text-decoration: none;
        position: relative;
        bottom: 2px;
        right: 2px;
    }
}
.vertical-row-ul a:hover {
        text-decoration: none;
}
.vertical-row-ul-ul{
    margin-bottom: 30px;
}
.vertical-row-ul-ul a:hover{
    text-decoration: none;
}
.vertical-row-ul-ul li{
    &:hover {
        position: relative;
        bottom: 2px;
        right: 2px;
    }
}
.ul-products li {
    color: #2d8fdd;
    border-left: solid 6px #2d8fdd;/*左側の線*/
    background: #f1f8ff;/*背景色*/
    margin-bottom: 3px;/*下のバーとの余白*/
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none!important;/*ポチ消す*/
    border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
}
.ul-accounts li {
    position: relative;
    list-style-type: none!important;/*ポチ消す*/
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-bottom: 5px;
    line-height: 1.5;
    background: #dbebf8;
    vertical-align: middle;
    color: #505050;
    border-radius: 15px 0px 0px 15px;/*左側の角丸く*/
}
.ul-accounts li:before {
    display:inline-block; 
    vertical-align: middle;
    /*以下白丸つくる*/
    content:'';
    width:1em;
    height: 1em;
    background: #fff;
    border-radius: 50%;
    margin-right: 8px;
}
.ul-favorite-books {
    counter-reset:number; /*数字をリセット*/
    list-style-type: none!important; /*数字を一旦消す*/
    padding: 0.3em 0.8em;
    border: solid 2px #dbebf8;
}
.ul-favorite-books li {
    border-bottom: dashed 1px #2d8fdd;
    position: relative;
    padding: 0.5em 0.5em 0.5em 30px;
    line-height: 1.5em;
}
.ul-favorite-books li:before {
    position: absolute;
    counter-increment: number;
    content: counter(number);
    display:inline-block;
    background: #2d8fdd;
    color: white;
    font-family: 'Avenir','Arial Black','Arial',sans-serif;
    font-weight:bold;
    font-size: 15px;
    border-radius: 50%;
    left: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.ul-favorite-books li:last-of-type {
    border-bottom: none;
}