{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="back1">
        <h1 class="text-primary">Image</h1>
    </div>
{% endblock %}

{% block image %}
    <nav class="crumbs">
        <ol>
            <li class="crumb"><a class="nav-item nav-link active" href="{% url 'liveCamera:uploadimage_list' %}">Top</a></li>
            <li class="crumb"><a class="nav-item nav-link active" href="{% url 'liveCamera:image_upload' %}">Post</a></li>
        </ol>
    </nav>
    <style>
        blog{
            text-align: center;
        }
        .ul1 {
            border: 2px skyblue dashed;
        }
        .stg2 {
            font-family: 'Vollkorn', serif;
        }
        .blog_block{
            margin: 20px 10px;
        }
        .table_font{
            font-family: 'Vollkorn', serif;
        }
    </style>
{% endblock %}


