{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="back1">
        <h1 class="text-primary"><a href="{% url 'dialog:post_list' %}">Dialog System</a></h1>
    </div>
{% endblock %}

{% block dialog %}
    <nav class="crumbs">
        <ol>
            <li class="crumb"><a class="nav-item nav-link active" href="{% url 'dialog:post_list' %}">dialog system</a></li>
            <li class="crumb"><a class="nav-item nav-link active" href="{% url 'dialog:evaluation' %}">採点</a></li>
        </ol>
    </nav>
    <style>
        #sidebar_right {
            opacity: 0;
        }
        dialog{
            text-align: center;
        }
        .ul1 {
            border: 2px skyblue dashed;
        }
        .stg2 {
            font-family: 'Vollkorn', serif;
        }
        .dialog_block{
            margin: 20px 10px;
        }
        .table_font{
            font-family: 'Vollkorn', serif;
        }
        .btn-primary {
            color: #fff;
            background-color: skyblue;
            border-bottom: 5px solid #6495ed;
            -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
            box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        }
        .btn-primary:hover {
            margin-top: 3px;
            color: #fff;
            background: skyblue;
            border-bottom: 2px solid #6495ed;
        }
    </style>
{% endblock %}



