{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="back1">
        <h1 class="text-primary"><a href="{% url 'dialog:post_list' %}">Dialog System</a></h1>
    </div>
{% endblock %}

{% block dialog %}
    <nav class="crumbs">
        <ol>
            <li class="crumb"><a class="nav-item nav-link active" href="{% url 'dialog:post_list' %}">dialog system</a></li>
            <li class="crumb"><a class="nav-item nav-link active" href="{% url 'dialog:evaluation' %}">採点</a></li>
            <li class="crumb"><a class="nav-item nav-link active" href="{% url 'dialog:user_list' %}">ユーザデータ</a></li>
        </ol>
    </nav>
    <style>
        .base_right_sidebar {
            display: none;
        }
        dialog{
            text-align: center;
        }
        .ul1 {
            border: 2px skyblue dashed;
        }
        .stg2 {
            font-family: 'Vollkorn', serif;
        }
        .dialog_block{
            margin: 20px 10px;
        }
        .table_font{
            font-family: 'Vollkorn', serif;
        }
        .btn-primary {
            color: #fff;
            background-color: skyblue;
            border-bottom: 5px solid #6495ed;
            -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
            box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        }
        .btn-primary:hover {
            margin-top: 3px;
            color: #fff;
            background: skyblue;
            border-bottom: 2px solid #6495ed;
        }
    </style>
{% endblock %}

{% block right_aside %}
    <div class="right_aside_block">
        <ul class="list-unstyled mb-4 small-intro">
            <li><h6>対話システム概要</h6></li>
            <li></br></li>
            <li>名前: ワンコ</li>
            <li></br></li>
            <li>マイクボタンを押して話しかけると、応えてくれます。</li>
            <li></br></li>
            <li>身の回りの出来事に興味があるので、いろいろ教えてあげてね。</li>
            <li></br></li>
        </ul>
    </div>
    <style>
        .right_aside_block {
            margin: 10px;
        }
    </style>
{% endblock %}


