{% extends 'dialog/index.html' %}
{% load static %}

{% block content %}
    <table class="table">
        <tr>
        <th class="table_font">SPEAKER</th>
        <td>{{ post.speaker }}</td>
        </tr>
        <tr>
        <th class="table_font">TEXT</th>
        <!-- linebreaksbk を入れると改行タグでちゃんと改行して表示されるようになる -->
        <td>{{ post.text | linebreaksbr}}</td>
        </tr>
        <tr>
        <th class="table_font">DATE</th>
        <td>{{ post.date }}</td>
        </tr>
    </table>
    <ul class="super-tr">
        <li class="super-td">
            <!-- superuserでログインしている時にのみ表示 -->
            {% if user.is_superuser %}
            <!-- HTMLを アプリ名_モデル名_change にすると admin でそのまま編集できる -->
            <a href="{% url 'dialog:post_update' post.pk %}">Edit</a>
            {% endif %}
        </li>
        <li class="super-td">
            {% if user.is_superuser %}
            <a href="{% url 'dialog:post_delete' post.pk %}">Delete</a>
            {% endif %}
        </li>
    </ul>
    <style>
        .super-tr li {
            list-style-type: none!important;
        }
    </style>
{% endblock %}