{% extends 'dialog/index.html' %}
{% load static %}
{% load common %}

{% block content %}
    <form action="" method="get" class="request_from">
        <input class="search_box" name="query" value="{{ request.GET.query }}" type="text">
        <button type="submit" class="btn btn-primary" style="margin-left: 10px;">SEARCH</button>
    </form></br>
    <button class="btn btn-primary"><a href="{% url 'dialog:user_create' %}" style="color:white">ADD USER</a></button>
    </br>
    </br>
    <p>ユーザ一覧</p>
    <table class="table">
        <thead>
            <tr>
                <th class="table_font" id="dialog_name">NAME</th>
                <th class="table_font" id="dialog_sex">SEX</th>
                <th class="table_font" id="dialog_birth">BIRTH</th>
                <th class="table_font" id="dialog_score">SCORE</th>
                {% if user.is_superuser %}
                <th class="super_command"><th/>
                <th class="super_command"><th/>
                <th class="super_command"><th/>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for user_data in userdata_list%}
                {% comment %} {% if user_data.user == user or user.is_superuser%} {% endcomment %}
                <tr>
                    <td id="dialog_name"><a href="{% url 'dialog:user_detail' user_data.pk %}" style="color:#212529;">{{ user_data.name }}</a></td>
                    <td id="dialog_sex"><a href="{% url 'dialog:user_detail' user_data.pk %}" style="color:#212529;">{{ user_data.sex }}</a></td>
                    <td id="dialog_birth"><a href="{% url 'dialog:user_detail' user_data.pk %}" style="color:#212529;">{{ user_data.birth }}</a></td>
                    <td id="dialog_score"><a href="{% url 'dialog:user_detail' user_data.pk %}" style="color:#212529;">{{ user_data.max_score }}</a></td>
                    {% if user.is_superuser %}
                    <td class="super_command">
                        <a href="{% url 'dialog:user_update' user_data.pk %}">Edit</a>
                    </td>
                    <td class="super_command">
                        <a href="{% url 'dialog:user_delete' user_data.pk %}">Delete</a>
                    </td>
                    <td class="super_command">
                        <a href="{% url 'dialog:user_detail' user_data.pk %}">{{user_data.user}}</a>
                    </td>
                    {% endif %}
                </tr>
                {% comment %} {% endif %} {% endcomment %}
            {% endfor %}
        </tbody>
    </table>
    <style>
        thead, tbody {
            display: block;
        }
        #dialog_sex {
            width: 250px;
        }
        #dialog_name {
            width: 250px;
        }
        #dialog_birth {
            width: 250px;
        }
        #dialog_score {
            width: 200px;
        } 
        .super_command {
            width: 50px;
        }
        @media screen and (max-width: 600px) {
            #dialog_birth { display: none; }
            .super_command { display: none; }
            #dialog_name {
                font-size: 14px;
                padding: 5px;
            }
            #dialog_old {
                font-size: 14px;
                padding: 5px;
            }
        }
        .search_box {
            border-radius: 5px;
            border: 2px solid #ccc;
        }
        .textbox {
            width: 100%;
            padding: 3px 2px;
            border-radius: 5px;
            border: 2px solid #ccc;
        }
        .textbox2 {
            width: 100%;
            padding: 3px 2px;
            border-radius: 5px;
            border: 2px solid #ccc;
        }
        .table td {
            padding: 0px;
        }
        table td a{
            padding: 0.75rem;
            text-decoration: none;
            display: block;
            width: 100%;
            height: 100%;
        } 
        tbody tr:hover{
            background:#aaa;  
        } 
    </style>
{% endblock %}
