{% extends 'imageblog/index.html' %}
{% load static %}

{% block content %}
    <form action="" method="get" class="request_from">
        <input name="query" value="{{ request.GET.query }}" type="text">
        <button type="submit" class="btn btn-primary">SEARCH</button>
    </form></br>
    <div class="comment">
        <p>運営者が書いたイラストや撮った写真を載せています。</p>
        <p>自由に使ってもらって構いません。</p>
    </div>
    <div class="image-list">
        {% for upimage in uploadimage_list reversed%}
            <div class="resize-image">
                <a href="{% url 'imageblog:preview' upimage.id %}"><img src="/media/{{upimage.image|safe}}" border="0"></a>
            </div>
        {% endfor %}
    </div>
    <style>
        .resize-image {    
            border: 2mm ridge #32a1ce;
            display: inline-block;
            float: left;
            padding: 5px 5px 5px 5px;
            margin: 0px;
            max-width: 200px;
            max-height: 200px;
            width: 100%;
            height: 100%;
        }
        img {
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock %}
